<form name="form" class="form-inline" ng-submit="formSubmit(form)">
<div style="display: flex;">
    <!--step1 start here-->
    <div class="form-group col-md-3">
        <div>
            <input type="number"
                   name="step1"
                   class="form-control"
                   id="step1"
                   ng-model="step1"
                   placeholder="454"
                   ng-pattern="allowNumberOnly"
                   ng-minlength="3"
                   ng-maxlength="3"
                   ng-keyup="focusOnNext(form, 'step1', 'step2')"
                   required>
        </div>
        <!--Note: if you want error doesn't show before submit add this `ng-if="form.$submitted"`-->
        <div ng-messages="form.step1.$error" role="alert">
            <div ng-if="form.$submitted" class="alert alert-danger" ng-message="required">This field is required.</div>
            <div class="alert alert-info" ng-message="pattern">You can enter only number.</div>
            <div class="alert alert-info" ng-message="maxlength">This field can be at most 3 characters long.</div>
            <div class="alert alert-info" ng-message="minlength">This field can be at least 3 characters long.</div>
        </div>
    </div>
    <!--step1 end here-->

    <!--step2 start here-->
    <div class="form-group col-md-3">
        <div>
            <input type="number"
                   name="step2"
                   class="form-control"
                   id="step2"
                   ng-model="step2"
                   placeholder="1216"
                   ng-pattern="allowNumberOnly"
                   ng-minlength="4"
                   ng-maxlength="4"
                   ng-keyup="focusOnNext(form, 'step2', 'step3')"
                   required>
        </div>
        <!--Note: if you want error doesn't show before submit add this `ng-if="form.$submitted"`-->
        <div ng-messages="form.step2.$error" role="alert">
            <div ng-if="form.$submitted" class="alert alert-danger" ng-message="required">This field is required.</div>
            <div class="alert alert-info" ng-message="pattern">You can enter only number.</div>
            <div class="alert alert-info" ng-message="maxlength">This field can be at most 4 characters long.</div>
            <div class="alert alert-info" ng-message="minlength">This field can be at least 4 characters long.</div>
        </div>
    </div>
    <!--step2 end here-->

    <!--step3 start here-->
    <div class="form-group col-md-3">
        <div>
            <input type="number"
                   name="step3"
                   class="form-control"
                   id="step3"
                   ng-model="step3"
                   placeholder="3456"
                   ng-pattern="allowNumberOnly"
                   ng-minlength="4"
                   ng-maxlength="4"
                   ng-keyup="focusOnNext(form, 'step3', 'step4')"
                   required>
        </div>
        <!--Note: if you want error doesn't show before submit add this `ng-if="form.$submitted"`-->
        <div ng-messages="form.step3.$error" role="alert">
            <div ng-if="form.$submitted" class="alert alert-danger" ng-message="required">This field is required.</div>
            <div class="alert alert-info" ng-message="pattern">You can enter only number.</div>
            <div class="alert alert-info" ng-message="maxlength">This field can be at most 4 characters long.</div>
            <div class="alert alert-info" ng-message="minlength">This field can be at least 4 characters long.</div>
        </div>
    </div>
    <!--step3 end here-->

    <!--step4 start here-->
    <div class="form-group col-md-3">
        <div>
            <input type="number"
                   name="step4"
                   class="form-control"
                   id="step4"
                   ng-model="step4"
                   placeholder="3456"
                   ng-pattern="allowNumberOnly"
                   ng-minlength="4"
                   ng-maxlength="4"
                   ng-keyup="focusOnNext(form, 'step4', 'submit')"
                   required>
        </div>
        <!--Note: if you want error doesn't show before submit add this `ng-if="form.$submitted"`-->
        <div ng-messages="form.step4.$error" role="alert">
            <div ng-if="form.$submitted" class="alert alert-danger" ng-message="required">This field is required.</div>
            <div class="alert alert-info" ng-message="pattern">You can enter only number.</div>
            <div class="alert alert-info" ng-message="maxlength">This field can be at most 4 characters long.</div>
            <div class="alert alert-info" ng-message="minlength">This field can be at least 4 characters long.</div>
        </div>
    </div>
    <!--step4 end here-->

    <div class="col-md-3">
        <button type="submit" id="submit" class="btn btn-default" ng-disabled="form.$invalid">Submit</button>
    </div>

</div>

    <div class="alert alert-success col-md-12" ng-show="succMessage">Form submitted successfully.</div>

</form>


<!--<script type="text/ng-template" id="error-messages">-->
    <!--<div class="alert alert-danger" ng-message="required">This field is required.</div>-->
    <!--<div class="alert alert-danger" ng-message="pattern">You can enter only number.</div>-->
    <!--<div class="alert alert-danger" ng-message="maxlength">This field can be at most 3 characters long.</div>-->
    <!--<div class="alert alert-danger" ng-message="minlength">This field can be at least 3 characters long.</div>-->
<!--</script>-->