.after-form{
    position: relative;
    display: inline-block;
}
.after-form .input-parent{
    display: inline-block;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.after-form:first-child .input-parent{
    border-left: 1px solid #ccc;
}
.last{
    border-right: 1px solid #ccc;
}
.input-box{
    width: 130px;
    padding: 5px;
    text-align: center;
    border: 0;
}
.after-form .error-parent{
    position: absolute;
}
.err-mess, .info-mess{
    font-size: 10px;
    color: #5bc0de;
}
.err-mess{
    color: red;
}
